@using Microsoft.AspNetCore.Components
@using SkyNotes.Common.EntityModels.Sqlite
<EditForm Model="@Note" OnValidSubmit="@OnValidSubmit">
  <DataAnnotationsValidator />
  <div class="form-group">
    <div>
      <label>Relates To</label>
      <div>
        <InputText @bind-Value="@Note.RelatesTo" />
        <ValidationMessage For="@(() => Note.RelatesTo)" />
      </div>
    </div>
  </div>
  <div class="form-group ">
    <div>
      <label>Ticket ID (optional)</label>
      <div>
        <InputText @bind-Value="@Note.TicketId" />
        <ValidationMessage For="@(() => Note.TicketId)" />
      </div>
    </div>
  </div>
  <div class="form-group ">
    <div>
      <label>Content</label>
      <div>
        <InputTextArea @bind-Value="@Note.NoteText" />
        <ValidationMessage For="@(() => Note.NoteText)" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-@ButtonStyle">
    @ButtonText
  </button>
</EditForm>

@code { 
  [Parameter]
  public Note Note { get; set; } = null!;

  [Parameter]
  public string ButtonText { get; set; } = "Save Changes";
  
  [Parameter]
  public string ButtonStyle { get; set; } = "info";
  
  [Parameter]
  public EventCallback OnValidSubmit { get; set; }
}